/* Background color of entire webpage */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Capriola", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffe0bb;
}

/* Navigation bar styling */
.navigationBar {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: #ffcf96;
}

.navigationBar div {
  background-color: #ffcf96;
}

/* The container <div> - needed to position the dropdown content */
.menu {
  position: relative;
  display: inline-block;
  margin-right: 10%;
  margin-left: 1%;
}

.menuIcon {
  width: 40px;
  height: 3px;
  background-color: rgb(121, 120, 118);
  margin: 8px 0;
  margin-left: auto;
  margin-right: auto;
}

/* Drop down button */
.menuButton {
  background-color: #fff5ea;
  height: 70px;
  border-radius: 12px;
  margin: 5px;
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -10px;
  margin-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff5ea;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.menu:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu:hover .dropbtn {
  background-color: #3e8e41;
}

.logo {
  flex: 0.1;
  margin-top: 5px;
}

.resizeLogo {
  width: 60px;
  height: auto;
  background-color: #ffcf96;
  display: block;
  cursor: pointer;
}

.searchbar {
  flex: 5.5;
  margin-top: 10px;
}

.searchbar button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 30px;
  cursor: pointer;
  height: 55px;
}

.round {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 22px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 55px;
}

.signIn {
  flex: 0.6;
}

.signIn button {
  width: 90%;
  height: 80%;
  margin-top: 5%;
  border-radius: 20px;
  border: none;
  background-color: #fff5ea;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example i {
  font-size: 35px;
  border-radius: 12px;
}

.favoriteRecipes {
  margin-left: 4%;
}

/* Personal Cookbook items */
.parentDiv {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  gap: 2em;
  cursor: pointer;
}

h1 {
  cursor: context-menu;
}

/* Copyright styling */
footer {
  margin-top: auto;
}

.copyright {
  display: flex;
  cursor: context-menu;
}

.copyright div {
  background-color: #ffcf96;
}

.copyrightBar {
  flex: 1;
}

.copyrightText {
  background-color: #ffcf96;
  text-align: center;
  color: gray;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  .logo {
    display: none;
  }  
}
