/* Background color of entire webpage */
*{
  background-color: #FFE5B4;
  margin: 0;
  box-sizing: border-box;
}
 
body {
min-height: 100vh;
 
  display: flex;
  flex-direction: column;
}
 
/* Navigation bar styling */
.navigationBar{
  display: flex;
}
 
.navigationBar div{
background-color: #FFCF96;
}
 
.menu {
    flex: 1;
}
 
.menuIcon {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
 
.menuButton {
  background-color: #FFCF96;
}
 
.logo {
    flex: 0.01;
}
 
.resizeLogo {
  width: 50px;
  height: auto;
  background-color: #FFCF96;
  display: block;
}
 
.searchbar {
  flex: 5.5;
}
 
form {
  background-color: #FFCF96;
}
 
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
 
form.example button:hover {
  background: #0b7dda;
}
 
form.example::after {
  content: "";
  clear: both;
  display: table;
}
 
form.example i {
  font-size: 35px;
  border-radius: 12px;
}
 
.profilePicture {
    flex: 0.2;
}
 
.iconify {
  width: 40px;
  height: auto;
  background-color: #FFCF96;
  margin-top: 4px;
}
 
.signIn {
  flex: 0.4;
}
 
.signIn button {
  width: 75px;
  height: auto;
  background-color: #FFCF96;
  margin-top: 7px;
  border-radius: 12px;
}
 
 
/* Copyright styling */
footer {
  margin-top: auto;
}
.copyright {
    display: flex;
}
 
.copyright div{
    background-color: #FFCF96;
}
 
.copyrightBar {
    flex: 1;
}
 
.copyrightText {
  background-color: #FFCF96;
  text-align: center;
  color: gray;
 
}


