/* Background color of entire webpage */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
}
 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFE0BB;
}
 
/* Navigation bar styling */
.navigationBar{ 
  display: flex;
  background-color: #FFCF96;

}
 
.navigationBar div{
  background-color: #FFCF96;
}
 
.menu {
  flex: 1;
}
 
.menuIcon {
  width: 35px;
  height: 3px;
  background-color: rgb(121, 120, 118);
  margin: 8px 0;
  margin-left: auto;
  margin-right: auto;
}
 
.menuButton {
  background-color: #FFF5EA;
  height: 60px;
  border-radius: 12px;
  margin-left: 5px;
  margin-top: 5px;
  width: 70px;
  border: none;
}
 
.logo {
  flex: 0.1;
  margin-top: 5px;
}
 
.resizeLogo {
  width: 50px;
  height: auto;
  background-color: #FFCF96;
  display: block;
}
 
.searchbar {
  flex: 5.5;
  margin-top: 10px;
}

.searchbar button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 30px;
  height: 43px;
}

.round {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
 
form {
  background-color: #FFCF96;
}
 
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
 
form.example button:hover {
  background: #0b7dda;
}
 
form.example::after {
  content: "";
  clear: both;
  display: table;
}
 
form.example i {
  font-size: 35px;
  border-radius: 12px;
}
 
.profilePicture {
    flex: 0.;
}
 
.iconify {
  width: 60px;
  height: auto;
  background-color: #FFCF96;
  margin-top: 4px;
}
 
.signIn {
  flex: 0.55;
}
 
.signIn button {
  width: 100px;
  height: 45px;
  background-color: #FFCF96;
  margin-top: 12.5px;
  border-radius: 20px;
  border: none;
  background-color: #FFF5EA;
}
 
 
/* Copyright styling */
footer {
  margin-top: auto;
}
.copyright {
    display: flex;
}
 
.copyright div{
    background-color: #FFCF96;
}
 
.copyrightBar {
    flex: 1;
}
 
.copyrightText {
  background-color: #FFCF96;
  text-align: center;
  color: gray;
 
}