/* Background color of entire webpage */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
}

header {
  width: auto;
}
 
body {
  min-height: 100vh;
  min-width: 960px;
  display: flex;
  flex-direction: column;
  background-color: #FFE0BB;
}
 
/* Navigation bar styling */
.navigationBar{ 
  display: flex;
  background-color: #FFCF96;
}
 
.navigationBar div{
  background-color: #FFCF96;
}
 
.menu {
  flex: 1;
  cursor: pointer;
}
 
.menuIcon {
  width: 40px;
  height: 3px;
  background-color: rgb(121, 120, 118);
  margin: 8px 0;
  margin-left: auto;
  margin-right: auto;
}
 
/* Drop down button */
.menuButton {
  background-color: #FFF5EA;
  height: 70px;
  border-radius: 12px;
  margin: 5px;
  width: 80px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.menu {
  position: relative;
  display: inline-block; 
} 

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
  margin-left: 5px;  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #FFF5EA;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.menu:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu:hover .dropbtn {background-color: #3e8e41;}
 
.logo {
  flex: 0.05;
  margin-top: 5px;
  cursor: pointer;
}
 
.resizeLogo {
  width: 60px;
  height: auto;
  background-color: #FFCF96;
  display: block;
}
 
.title {
  flex: 1.1;
  margin: 10px;
  background-color: #FFCF96;
  color: #000000;
  cursor: context-menu;  
  font-size: 22px;

}
 
.signIn {
  flex: 0.16;
}
 
.signIn button {
  width: 100px;
  height: 60px;
  background-color: #FFCF96;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #FFF5EA;
  cursor: pointer;
}

  /* Main page */

  .flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .drop {
    margin-left: 50%;
    margin-right: 50%;
  }


  .dropdown {
    font-size: 10px;
    
  }

  .dropdown select {
    width: 200px;
    height: 30px;
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 12px;
    font-size: 20px;
    padding-left: 5px;
  }

  .searchbar {
    margin-left: -60px;
  }

  .round{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
   
  form.example input[type=text] {
    padding: 10px;
    font-size: 32px;
    font-weight: 400;
    border: 1px solid grey;
    width: 800px;
    height: 100px;
    background: #f1f1f1;
  }
   
  form.example button:hover {
    background: #0b7dda;
  }

  .searchbar button {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 60px;
    height: 100px;
    position: absolute;
  }
 
  .blankbox {
    width:800px;
    height:300px;
    border-radius: 37px;
    background-color: lightgrey;
    margin-top: 50px;
    position:relative
  }
  .centered{
    position: absolute;
    color: white;
    font-size: 50px;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #recipeimg{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-radius: 37px;
    backdrop-filter: blur(5px);
    box-shadow:         6px 6px 4px 4px #909090;
  }

 
 /* Copyright styling */
footer {
  margin-top: auto;
}
.copyright {
  display: flex;

}
 
.copyright div{
    background-color: #FFCF96;
}
 
.copyrightBar {
    flex: 1;
}
 
.copyrightText {
  background-color: #FFCF96;
  text-align: center;
  color: gray;
 
}