/* Background color of entire webpage */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 1400px;
  display: flex;
  flex-direction: column;
  background-color: #ffe0bb;
}

/* Navigation bar styling */
.navigationBar {
  display: flex;
  background-color: #ffcf96;
}

.navigationBar div {
  background-color: #ffcf96;
}

/* The container <div> - needed to position the dropdown content */
.menu {
  flex: 1;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.menuIcon {
  width: 40px;
  height: 3px;
  background-color: rgb(121, 120, 118);
  margin: 8px 0;
  margin-left: auto;
  margin-right: auto;
}

/* Drop down button */
.menuButton {
  background-color: #fff5ea;
  height: 70px;
  border-radius: 12px;
  margin: 5px;
  width: 80px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -10px;
  margin-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #FFF5EA;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.menu:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu:hover .dropbtn {
  background-color: #3e8e41;
}

.logo {
  flex: 0.1;
  margin-top: 5px;
}

.resizeLogo {
  width: 60px;
  height: auto;
  background-color: #FFCF96;
  display: block;
  cursor: pointer;
}

.searchbar {
  flex: 5.5;
  margin-top: 10px;
}

.searchbar button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 30px;
  height: 55px;
}

.round {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

form {
  background-color: #FFCF96;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 22px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 55px;
}

.signIn button {
  width: 100px;
  height: 60px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #fff5ea;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example i {
  font-size: 35px;
  border-radius: 12px;
}

.signIn {
  flex: 0.5;
}

.personalCookbook {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  display: inline-block; /* inline-block */
  width: 20%;
  height: 70%;
  margin-left: 10%;
  overflow-y: scroll;
}

.personalCookbook th {
  background-color: #fff5ea;
  height: 60px;
  width: 20%;
}

.personalCookbook td {
  height: 100px;
  display: flex;
  justify-content: center;

}

.mealplanPrompt {
  text-align: center;
}

.scrollable {
  overflow-y: scroll;
  height: 100px;
}

.addButton {
  margin-left: 10px;
  font-size: 20px;
  height: 30px;
}

table h4 {
  font-size: 20px;
}

table img {
  width: 30px;
  height: 30px;
}

.row td {
  padding-top: 20px;
}

/* Calendar */
.calendar {
  position: absolute;
  margin: 20px 10% 20px 35%;
  background-color: #fff;
  display: table;
  width: 60%;
  height: 70%;
}

.calendar th {
  background-color: #fff5ea;
  height: 100px;
  font-size: 30px;
}

.calendar td {
  text-align: center;
}

.addToCookbook {
  font-size: 60px;
}

.cookbookItems {
  margin-bottom: 50px;
}

.calendarMeal {
  font-size: 20px;
  text-align: center;
}

.icon {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 60px;
}

#div1 {
  width: 100px;
  height: 100px;
  border: 1px solid #aaa;
}

.ele {
  margin-left: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.ele h4 {
  font-size: 15px;
}

.ele img {
  width: 40px;
  height: 40px;
}

.personalCookbook tr {
  padding-bottom: 30px;
}

.saveButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

.drag2 h4 {
  font-size: 15px;
}

/* Copyright styling */
footer {
  margin-top: auto;
}

.copyright {
  display: flex;
}

.copyright div {
  background-color: #FFCF96;
}

.copyrightBar {
  flex: 1;
}

.copyrightText {
  background-color: #FFCF96;
  text-align: center;
  color: gray;
}
