/* Background color of entire webpage */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Capriola", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 960px;
  display: flex;
  flex-direction: column;
  background-color: #ffe0bb;
}

/* Navigation bar styling */
.navigationBar {
  display: flex;
  background-color: #ffcf96;
}

.navigationBar div {
  background-color: #ffcf96;
}

/* The container <div> - needed to position the dropdown content */
.menu {
  flex: 1;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.menuIcon {
  width: 40px;
  height: 3px;
  background-color: rgb(121, 120, 118);
  margin: 8px 0;
  margin-left: auto;
  margin-right: auto;
}

/* Drop down button */
.menuButton {
  background-color: #fff5ea;
  height: 70px;
  border-radius: 12px;
  margin: 5px;
  width: 80px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -10px;
  margin-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff5ea;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: #ddd; }

/* Show the dropdown menu on hover */
.menu:hover .dropdown-content { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu:hover .dropbtn { background-color: #3e8e41; }

.logo {
  flex: 0.1;
  margin-top: 5px;
}

.resizeLogo {
  width: 60px;
  height: auto;
  background-color: #ffcf96;
  display: block;
  cursor: pointer;
}

.searchbar {
  flex: 5.5;
  margin-top: 10px;
}

.searchbar button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 30px;
  cursor: pointer;
  height: 55px;
}

.round {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 22px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 55px;
}

.signIn {
  flex: 0.5;
}

.signIn button {
  width: 100px;
  height: 60px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #fff5ea;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example i {
  font-size: 35px;
  border-radius: 12px;
}

/* New Stuff */
.recipeName {
  margin-top: 50px;
  margin-left: 5%;
}

.recipePicture input {
  margin-left: 20px;
  margin-top: 90px;
}

form.recipeNameTextBox input {
  background: #fffcfc;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  border-radius: 12px;
  width: 31%;
  height: 60px;
}

.recipePicture {
  margin-top: 50px;
  margin-left: 5%;
  background: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 12px;
  width: 30%;
}

.recipePictureText {
  position: relative;
  margin-left: 25%;
}

.uploadImage {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
}

#imageUpload {
  margin-bottom: 40px;
}

.middleArea {
  display: flex;
  justify-content: space-between;
}

.misc {
  margin-left: 120px;
  margin-top: 80px;
  margin-right: 300px;
  display: block;
}

.misc p {
  font-size: 30px;
  line-height: 45px;
  color: #505050;
}

.time {
  display: flex;
  margin-top: 20px;
}

form.miscBox input {
  background: #fffcfc;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  border-radius: 5px;
  width: 300px;
  height: 61px;
  margin-left: 20px;
}

.cost {
  display: flex;
  margin-top: 20px;
}

.servings {
  display: flex;
  margin-top: 20px;
}

form.servingsBox input {
  background: #fffcfc;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 20px;
}

.recipePicture center {
  font-size: 28px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.4);
}

textarea {
  resize: none;
  margin-left: 5%;
  border-radius: 12px;
  width: 90%;
  height: 250px;
  text-align: left;
  padding: 30px 20px 20px  30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  justify-content: space-between;
  gap: 15px;
}

.word {
  font-size: 25px;
  color: #505050;
  margin-left: 90px;
}

.step {
  color: #505050;
  font-size: 25px;
  text-align: left;
  margin-left: 0;
  border-left: 0;
  float: left;
  padding-left: 2px;
}

.textbox textarea {
  font-size: 20px;
}

.btTxt {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90%;
  width: 4%;
  height: 4%;
}

/* Copyright styling */
footer {
  margin-top: auto;
}

.copyright {
  display: flex;
}

.copyright div {
  background-color: #ffcf96;
}

.copyrightBar {
  flex: 1;
}

.copyrightText {
  background-color: #ffcf96;
  text-align: center;
  color: gray;
}
