/* Background color of entire webpage */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Capriola", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 960px;
    display: flex;
    flex-direction: column;
    background-color: #FFE0BB;
}

/* Navigation bar styling */
.navigationBar {
    display: flex;
    background-color: #FFCF96;
}

.navigationBar div {
    background-color: #FFCF96;
}

/* The container <div> - needed to position the dropdown content */
.menu {
    flex: 1;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.menuIcon {
    width: 40px;
    height: 3px;
    background-color: rgb(121, 120, 118);
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
}

/* Drop down button */
.menuButton {
    background-color: #FFF5EA;
    height: 70px;
    border-radius: 12px;
    margin: 5px;
    width: 80px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -10px;
    margin-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #FFF5EA;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: #DDDDDD; }

/* Show the dropdown menu on hover */
.menu:hover .dropdown-content { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu:hover .dropbtn { background-color: #3E8E41; }

.logo {
    flex: 0.1;
    margin-top: 5px;
}

.resizeLogo {
    width: 60px;
    height: auto;
    background-color: #FFCF96;
    display: block;
    cursor: pointer;
}

.searchbar {
    flex: 5.5;
    margin-top: 10px;
}

.searchbar button {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 30px;
    cursor: pointer;
    height: 55px;
}

.round {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 22px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #F1F1F1;
    height: 55px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.example i {
    font-size: 35px;
    border-radius: 12px;
}

.signIn {
    flex: 0.5;
}

.signIn button {
    width: 100px;
    height: 60px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: #FFF5EA;
    cursor: pointer;
}

/* New Stuff */
.recipeName {
    margin-top: 50px;
    margin-left: 5%;
}

form.recipeNameTextBox input {
    background: #FFFCFC;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 12px;
    width: 520px;
    height: 60px;
}

.recipePicture {
    margin-top: 50px;
    margin-left: 5%;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 12px;
}

.recipePicture input {
    margin-left: 20px;
    margin-top: 90px;
    width: 500px;
}

.uploadImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
}

.middleArea {
    display: flex;
    justify-content: space-between;
}

.misc {
    margin-left: 120px;
    margin-top: 100px;
    margin-right: 650px;
    display: block;
}

.misc p {
    font-size: 30px;
    line-height: 45px;
    color: #505050;
}

.time {
    display: flex;
    margin-top: 20px;
}

form.miscBox input {
    background: #FFFCFC;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 466px;
    height: 61px;
    margin-left: 20px;
}

.cost {
    display: flex;
    margin-top: 20px;
}

.servings {
    display: flex;
    margin-top: 20px;
}

form.servingsBox input {
    background: #FFFCFC;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 466px;
    height: 61px;
    margin-left: 20px;
}

.tags {
    display: flex;
    margin-top: 20px;
}

.tags input {
    margin-left: 20px;
}

.recipePictureText {
    font-size: 24px;
    text-align: center;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.4);
}

.recipePictureTextRed {
    color: rgba(255, 0, 0, 1.0);
}

textarea {
    resize: none;
    margin-left: 5%;
    border-radius: 12px;
    width:90%;
    height: 250px;
    text-align: left;
    padding: 30px 20px 20px  30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
    justify-content: space-between;
    gap: 15px;
}

.word {
    font-size: 25px;
    color: #505050;
    margin-left: 90px;
}

.step {
    color: #505050;
    font-size:25px;
    text-align: left;
    margin-left: 0px;
    border-left: 0px;
    float: left;
    padding-left: 2px;
}

.textbox textarea {
    font-size: 20px;
}

.btTxt {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:90%;
    width: 4%;
    height: 4%;
}

.uploadError {
    font-size: 20px;
    color: #FF0000;
    text-align: right;
    margin-right: 80px;
}

/* Copyright styling */
footer {
    margin-top: auto;
}

.copyright {
    display: flex;
}

.copyright div {
    background-color: #FFCF96;
}

.copyrightBar {
    flex: 1;
}

.copyrightText {
    background-color: #FFCF96;
    text-align: center;
    color: gray;
}